*{margin: 0px;padding: 0px;}
body{
	font-family: "KaiTi";
	font-size: 18px;
}
#main{
	width: 75%;
	height: 100%;
	margin: auto;
	background: rgba(0, 0, 0, 0.8);
}
#nav1{
	height: 50px;
	border: solid 2px #FFFFFF;
	border-radius: 20px;
}
#nav2{
	height: 50px;
	border: solid 2px #FFFFFF;
	border-radius: 20px;
	margin-top: 10px;
}
#nav2 li{
	float: left;
	list-style-type: none;
	color: #FFFFFF;
	margin-left: 20px;
	margin-top: 15px;
}
#nav1 a,#nav2 a{
	color: #FFFFFF;
	text-decoration: none;
}
/* 下拉菜单栏 */
#nav1 li{
	float: left;
	list-style-type: none;
	color: #FFFFFF;
	margin-left: 20px;
	margin-top: 10px;
	_display:inline;
	position:relative;
}
#nav1 li ul{
	position:absolute;
	left:0;
	top:25px;
	display:none;
}
#menu1_2,#menu2_2{
	width: 100px;
	border-radius: 15px;
	background: rgba(225, 225, 225, 0.5);
}
#menu3_2{
	width: 180px;
	border-radius: 15px;
	background: rgba(225, 225, 225, 0.5);
}

#contents{
	border: solid 2px #FFFFFF;
	border-radius: 20px;
	margin-top: 10px;
}
#view1 iframe,#view2 iframe{
	width: 100%;
	height: 500px;
	border-radius: 20px;
}
#footer{
	border: solid 2px #FFFFFF;
	border-radius: 20px;
	text-align: center;
	background-image: url(../img/footer.png);
	background-repeat: no-repeat;
	-moz-background-size:100% 100%;
	background-size:100% 100%;
}
#footer i{color: bisque;}
.jiyu{
	color: #FFFFFF;
	margin-left: 40px;
	margin-bottom: 15px;
}

/* 伪类 */
#nav1 li:hover,#nav2 li:hover{
	background-color: #1dd2be70;
	font-size: 22px;
	font-weight: bold;
	cursor: pointer;
}

@media screen and (max-width: 600px) {
	#main{
		width: 100%;
		height: 100%;
		margin: auto;
	}
}